{%comment%}
Crea un card-story con el contenido de una story a partir de la variable storypublication.
{%endcomment%}
{%if storypublication%}
  <div id="story-{{storypublication.id}}" class="container card-story" style="border-left-color: {{storypublication.color}}">
    <div class="row content-story" onClick='showInfoPub("{% url 'user:pub:story_content' storypublication.own_user.username storypublication.id %}", {{user.id}}, event)'>
        <div class="col-3 card-thumbnail">
          {%if "gallery/no-img.png" in storypublication.img_content_link.url%}
            <div class="img-thumbnail" style="background: {{storypublication.color}}"></div>
          {%else%}
            <img alt="Publication image" class="img-thumbnail" src="{{storypublication.img_content_link.url}}">
          {%endif%}
        </div>
        <div class="col-9 card-body">
        <h3 class="title-card-story">
            {{storypublication.title|truncatechars:35}}
        </h3>
        <div class="description">{{storypublication.text_content|safe|truncatechars:150}}</div>
        <div class="tags-story">
          {% for h in storypublication.tag.all %}
          <span>{{ h.tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{%endif%}