{%comment%}
Crea un card-story con el contenido de un chapter a partir de la variable storychapter.
{%endcomment%}
{%if storychapter%}
  <div id="chapter-{{storychapter.id}}" class="container card-story" style="border-left-color: {{storychapter.mainStory.color}}">
    <div class="row content-story" onClick='showInfoChapter("{% url 'user:pub:chapter_content' storychapter.own_user.username storychapter.id %}", {{user.id}}, event)'>
        <div class="col-3 card-thumbnail">
          {%if "gallery/no-img.png" in storychapter.mainStory.img_content_link.url%}
            <div class="img-fluid img-thumbnail" style="background: {{storychapter.mainStory.color}}"></div>
          {%else%}
            <img alt="Publication image" class="img-thumbnail" src="{{storychapter.mainStory.img_content_link.url}}">
          {%endif%}
        </div>
        <div class="col-9 card-body">
        <h3 class="title-card-story">
            {{storychapter.mainStory.title|truncatechars:35}}
        </h3>
        <div class="answer-pub">
          <div class="answer"><h5>{{storychapter.quest_answ}}</h5></div>
        </div>
        <div class="description">{{storychapter.text_content|safe|truncatechars:150}}</div>
        <div class="tags-story">
          {% for h in storychapter.tag.all %}
          <span>{{ h.tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{%endif%}