{%comment%}
Para mostrar la lista de chapters que continuan una trama. Se viusalizan diferente que list_chapters.html
{%endcomment%}
{%if storychapter_list %}
{% for chap in storychapter_list %}

  <div class="card-story">
    <div class="container">
    <div class="row content-story">
        <div class="col-12 card-body">
        <h5>
          {%if chap.active %}
              <a href="javascript: void(0)" onClick='showInfoChapter("{% url 'user:pub:chapter_content' chap.own_user.username chap.id %}", {{user.id}}, event)'>{{chap.quest_answ}}
              </a>
            {%else%}
            <a class="disabled-story" href="javascript: void(0)" onClick='showInfoChapter("{% url 'user:pub:chapter_content' chap.own_user.username chap.id %}", {{user.id}}, event)'>{{chap.quest_answ}}
              </a>
          {%endif%}
        </h5>
        <div id="pub-owner">
            <a id="link-autor-profile" href=""><img src="{{chap.own_user.link_img_perfil.url}}" id="img-owner" class="img-autor-mini" alt="{{chap.own_user.username}}"></a>
        </div>
        {%if chap.active %}
          <p class="description">{{chap.text_content|truncatechars:200}}</p>
          <div class="tags-story">
            {%for t in chap.tag.all %}
            <span>{{ t.tag }}</span>
            {%endfor%}
          </div>
        {%else%}
          <p class="description">No se puede visualizar el contenido de esta Storylink.</p>
          <div class="disabled-story">Esta Storylink fue eliminada.</div>
        {%endif%}
      </div>
        
    </div>
    </div>
  </div>
{% endfor %}
{%else%}
<div class="disabled-story"><p>No hay Storylinks que continúen la trama.</p></div>
{%endif%}