{%comment%}
Lista los chapters desde storychapter_list.
{%endcomment%}
{% for chap in storychapter_list %}
  <div class="container card-story">
    <div class="row content-story">
        <div class="col-3 card-thumbnail">
            <img alt="Publication image" class="img-thumbnail" src="{{chap.mainStory.img_content_link.url}}">
        </div>
        <div class="col-9 card-body">
        <h3>
            <a href="javascript: void(0)" onClick='showInfoChapter("{% url 'user:pub:chapter_content' chap.own_user.username chap.id %}", {{user.id}}, event)'>{{chap.mainStory.title|truncatechars:35}}
            </a>
        </h3>
        <div class="answer-pub">
          <div class="answer"><h5>{{chap.quest_answ}}</h5></div>
        </div>
        <p class="description">{{chap.text_content|truncatechars:150}}</p>
        <div class="tags-story">
          {% for h in chap.tag.all %}
          <span>{{ h.tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}