{%comment%}
Para mostrar la lista de chapters que continuan una trama. Se viusalizan diferente que list_chapters.html
{%endcomment%}
{%if storychapter_list %}
{% for chap in storychapter_list %}
  <div class="card-story" onClick='showInfoChapter("{% url 'user:pub:chapter_content' chap.own_user.username chap.id %}", {{user.id}}, {{chap.mainStory.id}}, {%if chap.prevChapter.id%}chap.prevChapter.id{%else%}{{chap.mainStory.id}}{%endif%}, event)' style="border-color: {{chap.mainStory.color|add:'20'}}; border-left-color: {{chap.mainStory.color}}">
    <div class="container">
    <div class="row content-story">
        <div class="col-12 card-body">
          {%if chap.active %}
            <h5>{{chap.quest_answ}}</h5>
          {%else%}
            <h5 class="disabled-story" >{{chap.quest_answ}}</h5>
          {%endif%}
        <div class="pub-owner">
            <a id="link-autor-profile" href="{% url 'user:user_profile' chap.own_user.username %}"><img src="{{chap.own_user.link_img_perfil.url}}" id="img-owner" class="img-autor-mini" alt="{{chap.own_user.username}}"></a>
        </div>
        {%if chap.active %}
          <div class="description">{{chap.text_content|safe|truncatechars:200}}</div>
          <div class="tags-story">
            {%for t in chap.tag.all %}
            <span style="background: {{chap.mainStory.color|add:'50'}}">{{ t.tag }}</span>
            {%endfor%}
          </div>
        {%else%}
          <p class="description">No se puede visualizar el contenido de esta Storylink.</p>
          <div class="disabled-story">Esta Storylink fue eliminada.</div>
        {%endif%}
      </div>
        
    </div>
    </div>
  </div>
{% endfor %}
{%else%}
<div class="disabled-story"><p>No hay Storylinks que continúen la trama.</p></div>
{%endif%}