{%comment%}
Modal para visualizar una publicacion en modo lectura
{%endcomment%}
<!-- Modal -->
<div class="container">
  <div class="row">
  <div class="modal fade col" id="story-read-mode" tabindex="-1" role="dialog" aria-labelledby="title-read-mode" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="title-read-mode"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-8 content-read-mode">
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
</div>
</div>
</div>