{% extends "users/profile_base.html" %}
{% load static %}
{%comment%}
Lista las storylinks a las que se suscribio un usuario.
{%endcomment%}

{%block head-page-extra%}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'publication/css/custom.css' %}">
<!-- Icons star CSS -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{%endblock%}


{% block profile-body %}

<div class="container">
<div id="story-list-flotante" class="row">
    <div class="stories-preview col-12">
        {%if storypublication_list%}
        {% include "publications/story/list_stories_chapters.html" %}
        {%else%}
          {%if customuser.username != user.username%}
              <div class="empy-pub"><h5>No hay suscripciones a Storylinks!</h5></div>
            {%else%}
              <div class="empy-pub"><h5>No te has suscripto ninguna Storylink!</h5></div>
          {%endif%}
        {%endif%}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{% endblock %}
