{% extends "users/profile_base.html" %}
{% load static %}


{%block head-page-extra%}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'publication/css/custom.css' %}">
<!-- Icons star CSS -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{%endblock%}


{% block profile-body %}

{% include "publications/story/story_card.html" %}

<a href="{% url 'user:pub:create_story' customuser.username%}" class="btn-create-story">Crear Storylink</a>
<div class="row">
    <div class="stories-preview col-12">
        {%if list_pub%}
        {% include "publications/story/story_list_base.html" %}
        {%else%}
          {%if customuser.username != user.username%}
              <div class="empy-pub"><h5>{{customuser.username}} no ha escrito ninguna Storylink!</h5></div>
            {%else%}
              <div class="empy-pub"><h5>No has escrito ninguna Storylink, <a class="nav-link" href="{% url 'user:pub:create_story' user.username%}">¡animate!</a></h5></div>
          {%endif%}
        {%endif%}
    </div>
</div>

{% endblock %}


{%block extra-script%}
<script src="{% static 'publication/js/publication-display.js' %}"></script>
{% endblock %}