{%comment%}
Formato de tarjeta de una publicacion
{%endcomment%}
{%load static%}
<div class="container">
<div id="display-pub-detail" class="row">
  <button class="btn-close" onclick="hideInfoPub()">
    Volver <span class="material-icons">close</span>
  </button>
  <div class="content-card col-12 col-lg-6">
    <div class="">
      <div class="content-pub">
      <h3 id="title-pub-detail"></h3>
      <div class="publication-container" id="publication-container">
        <div class="" id="publication-container-header">
          <div class="publication-header" id="publication-header">
           <div class="dropdown" id="card-options-owner">
              <button class="dropbtn"><span class="material-icons">settings_applications</span></button>
                <div class="dropdown-content">
                <a id="btn-delete" class='btn-delete'>Eliminar</a>
                <a id="btn-edit" class='btn-edit'>Editar</a>
                </div>
            </div>
            <img id="header-image" class="header-image" src="" alt="">
            <div id="pub-owner">
              <a id="link-autor-profile" href=""><img src="" id="img-owner" class="img-autor-mini" alt=""></a>
            </div>
          </div>  
        </div>
        <div class="" id="body-publication">
          <div class="publication-description-container">
            <div class="publication-description" id="publication-description">
              <p id="publication-title"></p>
              <p id="publication-content"></p>
            </div>
          </div>
        </div>
        <div id="card-options">
            <a id="unsubscribe-story" class="btn-custom-1" href="javascript: void(0)">
              Desuscribirse 
            </a>
            <a id="subscribe-story" class="btn-custom-2" href="javascript: void(0)">
              Suscribirse
            </a>
            <a class="btn-custom-2" href="#" id="create-continuation">
              Continuar Storylink
            </a>
            <button type="button" class="btn-custom-2" data-toggle="modal" onclick="extendStory()" data-target="#story-read-mode">
              Leer
            </button>
        </div>
        <div class="container" id="tags">
          <div class="tags-story">
            
          </div>
        </div>
      </div>
      </div>
      <div class="displacement-menu ">
        <a id="first-story" href="javascript: void(0)">
          Ir al comienzo
        </a>
          <a class="btn-previous" id="pre-story" href="javascript: void(0)">
          Storylink Anterior
        </a>
      </div>
    </div>
  </div>
  {%block mini-preview%}
  <div id="content-previews" class="col-12 col-lg-6">
    <h3 class="title-center">Continuaciones</h3>
    <div id="scroll-previews" class="">
    </div>
  </div>
  {% endblock %} 
</div>
</div>

{%block modal-read-mode%}
      {% include "publications/story/read_story_modal.html" %}
{% endblock %}

