.msg-create-acc {
    display: inline;
}

.title-welcome {
    text-align: center;
    margin-top: 25px;
}


strong.hall{
    font-family: 'Dancing Script';
    font-size: 30px;
    color: #ff6567;
}

#container-form-create-account{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    background: whitesmoke;
}

.form-create-user {
    display: none;
}

#container-form-login h3 {
    text-align: center;
}

#container-form-login{
    width: 265px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: whitesmoke;
}

#presentation {
    margin-top: 25px;
    text-align: center;
}

#presentation h2{
    color: #644e5b;
}

#presentation-items {
    margin-top: 50px;
    text-align: left;
}

#presentation p{
    margin-top: 20px;
    color: rgb(66,160,180);
}

#presentation-tree{
    display: block;
    margin: auto;
}


.facebook-button {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color:#1877f2;
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #283e6b;
    box-shadow: inset 0px 1px rgba(255,255,255,0.2);
    text-shadow: 0px 1px rgba(0,0,0,0.4);
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.3s;
}

.facebook-button:hover {
  background-image:-webkit-linear-gradient(#4466ac, #34518e);
  color:white;
}

.facebook-button:active {
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), 0px 1px rgba(255,255,255,0.2);
}

@media(max-width:900px) {
    #container-form-create-account{
        width: 60%;
        margin-top: 25px;
        margin-bottom: 25px;
        background: whitesmoke;
    }
}


@media(max-width:500px) {
    #container-form-create-account{
        width: 90%;
        margin-top: 25px;
        margin-bottom: 25px;
        background: whitesmoke;
    }
}


