{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title-page %}Iniciar sesión{% endblock %}
{% block head-page %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'registration/css/custom.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    email_verified = "{{email_verified}}";
    success = "{{success}}";
</script>
{% endblock %}

{%block primary-navbar%}
        <div id="header-base" class="sticky-top">
            <small style="color:white; margin:auto;">Beta</small>
            <!-- navBar primario -->   
            <div class="container">
                <nav id="primary-navbar" class="navbar navbar-expand-lg navbar-dark">
                    <!-- Brand -->
                    <a class="navbar-brand" href="/"><img id="logo" src="{% static 'imgs/ostorylink_blank.png' %}" alt="Story Link logo"></a>
                    <div id="login-div">
                    <a href="javascript:void(0)" onclick="showLoginModal()">Iniciar sesión</a>
                    </div>
                </nav> 
            </div>
        </div>
{%endblock%} <!--primary-navbar-->

{% block main-content %}
<div class="container-fluid">
<div  id="presentation" class="row">
  <section id="title-welcome" class="section-light">
    <img id="img-portada" src="{% static 'imgs/storylink_ulti_opt.svg' %}" alt="Storylink logo">
    <h1 class="title-center">Bienvenido a Storylink.club</h1>
      <div class="m-welcome">
        <img id="welcome-img" src="{% static 'imgs/mascota/mascota_sonriendo.png' %}" alt="">
      </div>
    <div class="to container">
      <ul>
      <li><p>Storylink.club es una plataforma que ha sido creada con la intención de agrupar contenido literario gratuito y accesible para cualquier usuario.</p>
        </li>
        <li><p>La fortaleza de Storylink.club es su capacidad para permitir escribir historias al estilo <strong>Elige tu Propia Aventura</strong>, lo que agrega flexibilidad y creatividad a las narrativas!</p></li>
        <li><p>Aquellos jugadores de <strong>juegos de rol</strong> se ven beneficiados al poder crear, editar y organizar todas las decisiones de sus aventuras, y tenerlas en una pantalla interactiva para navegar por su historia.</p></li>
        <li><p>También puedes escribir historias y permitir que el resto de la comunidad las continúe!</p></li>
        <li><p>Sumerge al lector en decisiones difíciles para elegir qué camino tomar.</p></li>
      </ul>
      
      <h3>Presiona sobre las <em>Esferalinks</em> para seguir leyendo!</h3>
      <span class="material-icons arrow">play_for_work</span>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#what-is')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
      <div class="section-link"></div>
    </div>
  </section>
  <section id="what-is" class="section-dark">
   <div class="container d-flex justify-content-around"> 
      <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
    </div> 
    <div class="to container">
      <h1>En Storylink.club nombramos a cada publicación como <strong>Storylink</strong>, ya que nos permite reconocer que cada publicación es una historia que puede enlazarse con otra historia.</h1>
      <h3>Aprende más sobre qué es una Storylink</h3>
      <div class="m-welcome">
        <img id="welcome-img-2" src="{% static 'imgs/mascota/mascota_sorprendida.png' %}" alt="">
      </div>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#what-is-sl')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
      <div class="section-link"></div>
    </div>
  </section>
  <section id="what-is-sl" class="section-light">
    <div class="container d-flex justify-content-around"> 
      <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
    </div>
    <div class="to container">
    <h1>Una Storylink es una historia a la que pueden añadirse diferentes desenlaces y tramas.</h1>
    <img class="img-esferas" src="{% static 'imgs/stories_linked.png' %}" alt="Esferas Storylinks">
    <h4>Son especialmente útiles para crear <strong>Gamebooks</strong>, un tipo de narrativas que requieren la interacción del lector para tomar decisiones en la trama.</h4>
    <h4>Las Storylinks facilitan el desarrollo de historias usadas en <span class="rolegame">Juegos de Rol</span>, ayudando a <strong>organizar la narrativa</strong> según los diferentes caminos que puedan tomar los jugadores. El <em>Game Master</em> es el encargado de escribir cada posible decisión!.</h4>
    <img class="img-mascota-gm" style="width:150px" src="{% static 'imgs/mascota/mascota_juego_rol.png' %}" alt="Mascota GM">
    <h3>¿Cómo puedo crear una Storylink?</h3>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#how')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
    </div>
    <div class="section-link"></div>
  </section>
  <section id="how" class="section-dark">
      <div class="container d-flex justify-content-around"> 
        <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
      </div>
      <div class="to container">
      <h3>Crear Storylinks es <strong>fácil!</strong>. Puedes comenzar con una historia desde el inicio, o continuar una existente. En el momento que quieras puedes hacer que los personajes tomen <strong>diferentes decisiones ante una misma situación</strong>, dividiendo la trama principal en dos o más caminos</h3>
      </div>
      <h4>¿Quieres saber más?</h4>
      <h4>SI!</h4>
      <div class="m-welcome">
        <img id="welcome-img" src="{% static 'imgs/mascota/mascota_feliz.png' %}" alt="">
      </div>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#why')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
      <div class="section-link"></div>
  </section>
  <section id="why" class="section-light">
    <div class="container d-flex justify-content-around"> 
      <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <p class="paragraph-presentation"> En Storylink promovemos el desarrollo de historias de todos los géneros. Puedes crear Storylinks <em>abiertas</em> para permitir que todos los usuarios puedan aportar sus ideas y tramas, o puedes dejarlas <em>cerradas</em> para que solo tú decidas el camino que tomarán los personajes.</p>
        </div>
        <div class="col-md-4">
        <p class="paragraph-presentation">¿Tuviste una idea y no sabes cómo continuarla, o te gustaría compartirla con otros lectores y escritores? ¿Leíste algo que te gustó y tuviste un <em>insigth</em>? <strong>Crea</strong> tu propia trama y <strong>compártelo</strong> con el resto de los usuarios de <strong>Storylink.club</strong> para que cada lector pueda elegir la trama que más <strong>disfrute</strong>, o <strong>elegir</strong> cómo termina una historia!</p>
        </div>
        <div class="col-md-4">
        <p class="paragraph-presentation">Explora las Storylinks en nuestro <strong class="hall">Hall</strong></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="">
          <img id="welcome-img" src="{% static 'imgs/mascota/mascota_confianza.png' %}" alt="">
        </div>
        <div class="col-md-8">
        <a class="a-create-acc" href="javascript:void(0)" onclick="showSignUpModal()">Crea una cuenta en Storylink</a>
        <div class="separate">
        <span class="o">o</span>
        <hr class="horizontal-separate">
        </div>
        <div class="social-login">
        <a href="{%url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i>Iniciar Sesión con Facebook</a>
        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-twitter"><span class="fa fa-twitter"></span>Iniciar Sesión con Twitter</a>
        </div>
        </div>
      </div> 
    </div>
  </section>
  </div>
</div>

{% include "registration/login_modal.html" %}
{% include "registration/signup_modal.html" %}

{% endblock %}


{%block extra-script%}
<script src="{% static 'registration/js/reg.js' %}"></script>
{% endblock %}