{% extends "base.html" %}
{% load static %}
{% block title-page %} StoryLink - Hall {% endblock %}
{% block head-page %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'hall/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'user/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'publication/css/custom.css' %}">
{%block head-page-extra%}{% endblock %}
{% endblock %}

{% block main-content %}
<div id="top"></div>
<div id="hall-main" class="">
{% block hall %}
    <div class="row justify-content-center" >
    <div class="col-lg-3" id="filter">
        <div class="container" id="content-filter">
        Buscador Storylinks:
            {% include "hall/form.html" %}
        </div>
    </div>
    <div class="col-lg-6" id="container-profile-body">
        <div class="container" id="list-story">
        <h3 class="title-center">Explora las Storylinks!</h3>
            <div class="row">
                <div class="stories-preview col-12">
                    {%if storypublication_list%}
                        {% include "publications/story/list_stories.html" %}
                    {%else%}
                        <div class="empy-pub"><h5>Aun no existen Storylinks, <a class="nav-link" href="{% url 'user:pub:create_story' user.username%}">¡Sé el primero en crear una!</a></h5></div>
                    {%endif%}
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Primera</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</div>
{% endblock %}

{%block display-pub-detail%}

{% include "publications/story/story_card.html" %}

{%endblock%}

{%block extra-script%}
<script src="{% static 'publication/js/publication-display.js' %}"></script>
{% endblock %}