#list-story{
    background-color: white;
    border-radius: 15px;
    min-height: 250px;
}

#content-filter {
    border-radius: 15px;
    background-color: white;
    position: fixed;
}

#hall-main{
    margin-top: 20px;
}

.input-group{
    justify-content: space-evenly;
}

.btn-custom-2 .material-icons {
    display: block;
}


.empy-pub .nav-link{
	display: inline-block;
}


@media (min-width: 992px) and (max-width: 1999px) {
    #content-filter {
        width: 210px;
    }
}

@media (min-width: 1200px) {
    #content-filter {
        width: 250px;
    }
}

@media (max-width: 991px) {
    #content-filter {
        position: relative;
    }
}