/*PUBLICATION CSS*/
body {
    position: relative;
}


.publication-container-title nav {
    padding: 0;
}

.publication-container-title nav li:not(:last-child) {
    margin-right: 5px;
}

#content-image {
    padding: 0;
    display: flex;
}

.card-story .card-thumbnail{
    margin: auto;
}

.publication-description {
    overflow-y: scroll;
    height: 120px;
    background: inherit;
    display: block;
    color: black;
}

.publication-description h4{ 
    font-size: 20px;
}


.publication-description-container{
    padding: 0;
}

.publication-container-footer nav, ul, .container-fluid, .row, div{
    padding: 0px;
}

ul{
    list-style: none;
}


.publication-container-footer{
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
}

.publication-btn-group a{
    margin-right: 15px;
}


#publication-data {
    display: block;
}

#publication-data p {
    margin-bottom: 0px;
}


.publication-rating {
    margin-top: 15px;
}

.star-rating .fa{
  font-size: 20px;
}

.star-rating p{
  margin-bottom: 0px;
}

.star-rating .pressed{
    color: #ffd74f;
}

.star-rating .not-pressed{
    color: black;
}

#btnReduce {
    display: none;
}

#story-data {
    padding: 0;
}

.feather {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


#collapsibleNavbarFooter{
    padding-top: 5px;
}


.img-thumbnail {
    height: 200px;
    width: 200px;
}

div.img-thumbnail {
    border: 1px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin:auto;
}

.card-story {
    font-family: "avenir-book","Helvetica Neue",Helvetica,Arial,sans-serif, sans-serif;
    border: outset;
    border-width: 3px;
    border-left: solid;
    margin-top: 10px;
    background: white;
}

.card-story:hover {
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.title-card-story {
    font-size: 26px;
    word-break: break-all;
    color: #606060;
}

.chapter-preview .card-story{
    border: none;
}


.description {
    height: 50px;
    overflow-y: hidden;
    word-wrap: break-word;
    margin-bottom: 2px; 
    color:rgb(60,60,60);
}


#valoration {
    margin-right: 10px;
}

.valoration {
    margin-right: 10px;
    float: left;
}

#publication-nav-footer{    
    justify-content: space-between;
}

.answer h5{
    font-size: 15px;
}


@media (min-width: 992px) {

    .btn-create-story {
        position: fixed;
        right: 10px;
        top: 130px;
    }


    #publication-nav-footer{    
        justify-content: space-between;
        margin: 2px;
        display: flex;
    }

    .publication-container-footer li{
        display: inline-grid;
    }

    .btn-header {
        padding: 0;
    }

    .content-card {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        margin-bottom: auto;
    }

}



@media (max-width: 991px) {
    .content-story {
        line-height: 20px;
        font-size: 16px;
        min-height: 100%;
    }

    .content-story h3{
        font-size: 16px;
    }

    div.img-thumbnail {
        border-radius: 25px;
        height: 50px;
        width: 50px;
    }

    img.img-thumbnail {
        height: 100px;
        width: 100px;
    }
}
