/*PUBLICATION CSS*/
body {
    position: relative;
}


.publication-container-title nav {
    padding: 0;
}

.publication-container-title nav li:not(:last-child) {
    margin-right: 5px;
}

#content-image {
    padding: 0;
    display: flex;
}

.card-story .card-thumbnail{
    margin: auto;
}

.publication-description {
    overflow-y: scroll;
    height: 120px;
    background: inherit;
    display: block;
    color: black;
}

.publication-description h4{ 
    font-size: 20px;
}


.publication-description-container{
    padding: 0;
}

.publication-container-footer nav, ul, .container-fluid, .row, div{
    padding: 0px;
}

ul{
    list-style: none;
}


.publication-container-footer{
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
}

.publication-btn-group a{
    margin-right: 15px;
}


#publication-data {
    display: block;
}

#publication-data p {
    margin-bottom: 0px;
}


.publication-rating {
    margin-top: 15px;
}

.star-rating .fa{
  font-size: 20px;
}

.star-rating p{
  margin-bottom: 0px;
}

.star-rating .pressed{
    color: #ffd74f;
}

.star-rating .not-pressed{
    color: black;
}

#btnReduce {
    display: none;
}

#story-data {
    padding: 0;
}

.feather {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


#collapsibleNavbarFooter{
    padding-top: 5px;
}

.div-bgcolor {
    border: 1px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: auto;
}

.card-story {
    font-family: "avenir-book","Helvetica Neue",Helvetica,Arial,sans-serif, sans-serif;
    border: 1px solid #eee;
    border-left-width: 2px;
    margin-top: 10px;
    background: white;
}

.card-story:hover {
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.title-card-story {
    font-size: 24px;
    word-break: break-all;
    color: #646161;
    font-weight: bold;
    width: max-content;
}

.card-body {
    color:rgb(60,60,60);
    padding: 2px;
    position: static;
    overflow: hidden;
    border-left: 1px solid #eee;
}


.card-body h5{
    display: inline;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    height: 65px;
    overflow-y: hidden;
    word-break: break-all;
    margin-bottom: 2px; 
    color:rgb(87, 87, 87);

}

.tags-story {
    width: max-content;
}


#valoration {
    margin-right: 10px;
}

.valoration {
    margin-right: 10px;
    float: left;
}

#publication-nav-footer{    
    justify-content: space-between;
}

.answer-pub{
    overflow-x: hidden;
}

.answer{
    width: max-content;
    overflow-x: hidden;
}
.answer h5{
    font-size: 18px;
    color: #4d4b4b;
}


@media (min-width: 992px) {

    .btn-create-story {
        position: fixed;
        right: 10px;
        top: 130px;
    }


    #publication-nav-footer{    
        justify-content: space-between;
        margin: 2px;
        display: flex;
    }

    .publication-container-footer li{
        display: inline-grid;
    }

    .btn-header {
        padding: 0;
    }

    .div-bgcolor{
        height: 60px;
        width: 60px;
    }

}



@media (max-width: 991px) {
    .content-story {
        line-height: 20px;
        font-size: 16px;
        min-height: 100%;
    }

    .content-story h3{
        font-size: 16px;
    }


    .div-bgcolor{
        height: 30px;
        width: 30px;
    }
}
