/*PUBLICATION CSS*/
body {
    position: relative;
}



.publication-container {
    margin-top: 20px;
    position: relative;
    /*background-color: #e3f2fd;*/
    background-color: snow;
    min-height: 417px;
}

.publication-container {
    color: black;
}


#publication-description h4{ 
    font-size: 20px;
}

#publication-description { 
    color: black;
}


.publication-container-title nav {
    padding: 0;
}

.publication-container-title nav li:not(:last-child) {
    margin-right: 5px;
}

#content-image {
    padding: 0;
    display: flex;
}



.publication-description {
    overflow-y: scroll;
    height: 120px;
    background: inherit;
    display: block;
}

.publication-description-container{
    padding: 0;
}

.publication-container-footer nav, ul, .container-fluid, .row, div{
    padding: 0px;
}

ul{
    list-style: none;
}


.publication-container-footer{
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
}

.publication-btn-group a{
    margin-right: 15px;
}


#publication-data {
    display: block;
}

#publication-data p {
    margin-bottom: 0px;
}

#subs-unsubs .btn-custom-2 a:hover {
    color: white;
}


.publication-rating {
    margin-top: 15px;
}

.star-rating .fa{
  font-size: 20px;
}

.star-rating p{
  margin-bottom: 0px;
}

.star-rating .pressed{
    color: #ffd74f;
}

.star-rating .not-pressed{
    color: black;
}

#btnReduce {
    display: none;
}

#story-data {
    padding: 0;
}

#body-publication {
    padding-bottom: 10px;
}



.feather {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


#collapsibleNavbarFooter{
    padding-top: 5px;
}

#scroll-previews {
    position: relative;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
}


.img-thumbnail {
    height: 200px;
    width: 200px;
}

.card-story {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif, sans-serif;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 3px;
    border-color: whitesmoke;
    margin-top: 10px;
}


.card-body h3 a {
    color: black;
}

.card-body h3 a:hover {
    text-decoration-line: underline; 
}


p.description {
    height: 120px;
    overflow-y: hidden;
    word-wrap: break-word;
    margin-bottom: 2px; 
    color:rgb(100,100,100);
}


#valoration {
    margin-right: 10px;
}

.valoration {
    margin-right: 10px;
    float: left;
}

#publication-nav-footer{    
    justify-content: space-between;
}

.answer h5{
    font-size: 15px;
}

#scroll-previews .card-story {
  -webkit-overflow-scrolling: touch;
}

.publication-container {
    transition: all 0.5s ease-out;
}


.main-actions a:hover{
    color: white;
}

#content-previews {
    height: 540px;
    background: whitesmoke;
}

#content-previews h5{
    text-align: center;
}

#display-pub-detail {
    transition: all 1s ease-in-out;
    display: none;
    z-index: 10;
    position: fixed;
    background: rgba(0,0,0,0.85);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0px;
    
}

#publication-header{
    overflow-y: hidden;
}

#header-image {
    height: 250px;
    width: 100%;
    margin-top: -60px;
    border-bottom: 1px solid;
}

#img-owner{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border-width: 5px;
    border: 1px solid black;
    margin-top: -50px;
    margin-left: 10px;
    padding: 3px;
    background-color: white;
}

#publication-title {
    text-align: center;
    font-size: 20px;
}

#publication-content {
    color: rgb(57, 57, 57);
    font-size: 16px;
}

#publication-description {
    padding-left: 4px;
    padding-right: 4px;
}

#card-options{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 15px;
}


#tags {
    position: absolute;
    bottom: 3px;
}

.tags-story span {
    font-size: 10px;
    background: #ff656757;
    padding: 5px;
    border-radius: 15px;
    margin: 3px;
}

.tags-story {
    line-height: 20px;
}

.displacement-menu {
    padding: 2px;
}

.displacement-menu a{
    font-size: 15px;
}

#title-pub-detail {
    display: block;
    color: white;
    text-align: center;
}

.content-pub {
    margin: auto;
    width: 450px;
}

/*Color de fondo del modal en mode-read*/
.modal-backdrop.show{
    opacity: 1;
}

.btn-close {
    color: white;
    position: fixed;
    right: 20px;
    cursor: pointer;
    background: bottom;
    display: inline-flex;
}


/*dropwdown menu opciones story-card*/
/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 1px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0;
}

.dropdown .material-icons {
    font-size: 28px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #97a9bd
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #97a9bd;
}

.dropdown-content {
  right: 0;
}


/*Previsualizacion de chapters*/
.card-story #pub-owner{
    position: absolute;
    top: 0;
    right: 0;
}

.card-story #pub-owner #img-owner{
    margin-top: 0;
}


@media (min-width: 992px) {

    .publication-container {
        height: 400px;
    }

    #content-previews {
        height: 580px;
        background: whitesmoke;
        max-width: 500px;
        margin-bottom: auto;
        margin-top: auto;
        overflow-y: scroll;
    }

    .btn-create-story {
        position: fixed;
        right: 10px;
        top: 130px;
    }


    #publication-nav-footer{    
        justify-content: space-between;
        margin: 2px;
        display: flex;
    }

    .publication-container-footer li{
        display: inline-grid;
    }

    .btn-header {
        padding: 0;
    }

    .displacement-menu{
        float: left;
        margin-top: 50%;
        margin-bottom: auto;
        margin-left: -200px;
    }

    .displacement-menu a{
        color: white;
        font-size: 18px;
        text-decoration: underline;
    }

    .content-card {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        margin-bottom: auto;
    }

    /*Previsualizacion de chapters*/
    #scroll-previews {
        display: block;
    }
    #scroll-previews .card-story {
        float: none;
    }

    #scroll-previews .card-story .content-story {
        line-height: 24px;
        font-size: 14px;
        min-height: 100%;
    }


}

/*
@media (min-width: 1200px) {
    .card-story {
        margin: 20px;
        width: 515px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .card-story {
        width: 445px;
    }

    .content-story h3{
        font-size: 26px;
    }

}*/

/*@media (min-width: 768px) {


    .classification-story .material-icons{
        margin-right: 5px;
    }


    .classification-story .material-icons {
        font-size: 20px;
    }

    .btn-delete, .btn-edit {
    }


    .card-story {
        width: 510px;
        float: left;
        margin-left: 10px; 
    }

    .card-body {
        padding: 4px;
    }


    .content-story {
        line-height: 24px;
        font-size: 14px;
        min-height: 100%;
    }

    .content-story h3{
        font-size: 22px;
    }


    #scroll-previews .card-story {
        width: 350px;
        flex: 0 0 auto;
    }


    #scroll-previews .answer p{
        font-size: 15px;
    }


    .card-thumbnail img{
        height: 200px;
        max-height: 200px;
    }


}*/

@media (max-width: 767px) {
    .content-story {
        line-height: 24px;
        font-size: 12px;
        min-height: 100%;
    }

    .content-story h3{
        font-size: 18px;
    }


    #scroll-previews .card-story {
        width: 350px;
        flex: 0 0 auto;
    }


    #scroll-previews .answer p{
        font-size: 10px;
    }

    #btn-previous {

    }

}

@media (max-width: 445px) {
    .content-story {
        line-height: 20px;
        font-size: 12px;
        min-height: 100%;
    }

    .content-story h3{
        font-size: 16px;
    }


    #scroll-previews{
        padding: 5px;
    }

    #scroll-previews .card-story {
        width: 310px;
        flex: 0 0 auto;
    }

    #scroll-previews .card-body {
        padding: 10px;
    }


    #scroll-previews .answer p{
        font-size: 10px;
    }

    .card-thumbnail {
        height: 200px;
        max-height: 200px;
    }

    #publication-nav-footer {
        display: flex;
        list-style: none;
    }


    .tags-story span {
        font-size: 10px;
        background: lightblue;
        padding: 2px;
        border-radius: 5px;
    }

    .main-actions li{
        margin-bottom: 3px;
        display: grid;
    }

}

