{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title-page %}Crear cuenta{% endblock %}
{% block head-page %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'registration/css/custom.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    email_verified = "{{email_verified}}";
    success = "{{success}}";
</script>
{% endblock %}


{%block primary-navbar%}
        <div id="header-base" class="sticky-top">
            <!-- navBar primario -->   
            <div class="container">
                <nav id="primary-navbar" class="navbar navbar-expand-lg navbar-dark">
                    <!-- Brand -->
                    <a class="navbar-brand" href="/"><img id="logo" src="{% static 'imgs/ostorylink_blank.png' %}" alt="Story Link logo"></a>
                    <div id="login-div">
                        <a class="" href="{% url 'login' %}">Iniciar Sesión</a>
                        <a href="{%url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i>Iniciar Sesión con Facebook</a>
                    </div>
                </nav> 
            </div>
        </div>
{%endblock%} <!--primary-navbar-->

{% block main-content %}
<div class="container-fluid">
<div  id="presentation" class="row">
  <section id="title-welcome" class="section-light">
    <img id="img-portada" src="{% static 'imgs/storylink_ulti_opt.svg' %}" style="width:400px;" alt="Storylink logo">
    <h1 class="title-center">Genial, el proceso de creación de cuenta está por terminar</h1>
    <div class="container" id="container-form-create-account">
      <hr>
      <form class="form-create-user" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {%if not field.field.required or field.id_for_label|stringformat:"s" == "id_link_img_perfil" %}
                <span class="not-required-field">*</span>
            {%endif%}
            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}
        <div class="row justify-content-center">
        <button type="submit" class="btn-custom-2">Crear Cuenta</button>
        </div>
      </form>
      <small class="form-text text-muted">* Campo no obligatorio</small>
    </div>
  </section>
</div>
</div>
{% endblock %}

{%block extra-script%}
<script src="{% static 'registration/js/reg.js' %}"></script>
{% endblock %}