{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title-page %}Iniciar sesión{% endblock %}
{% block head-page %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'registration/css/custom.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{%block primary-navbar%}
        <div id="header-base" class="sticky-top">
            <!-- navBar primario -->   
            <div class="container">
                <nav id="primary-navbar" class="navbar navbar-expand-lg navbar-dark">
                    <!-- Brand -->
                    <a class="navbar-brand" href="/"><img id="logo" src="{% static 'imgs/ostorylink_blank.png' %}" alt="Story Link logo"></a>
                        <a href="{%url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i>Iniciar Sesión con Facebook</a>
                    <div class="has-account">
                      <small class="text-muted">Si ya tienes una cuenta </small>
                     <form method="post" novalidate class="d-flex">
                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}

                      {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% for field in form.visible_fields %}
                       <div class="form-group">
                          {{ field.label_tag }}                          
                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field  %}
                          {% endif %}

                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}
                      <button type="submit" class="btn-custom-2">Iniciar sesión</button>
                    </form>
                    <div class="to-register">
                      <small class="form-text text-muted msg-create-acc">Si aún no tienes una cuenta </small> <a href="{% url 'sign_up' %}">Crea una</a>
                    </div>
                </nav> 
            </div>
        </div>
{%endblock%} <!--primary-navbar-->

{% block main-content %}
<div class="container-fluid">
<div  id="presentation" class="row">
  <section id="title-welcome" class="section-light">
    <img id="img-portada" src="{% static 'imgs/storylink_ulti_opt.svg' %}" alt="Storylink logo">
    <h1 class="title-center">Bienvenido a Storylink.club</h1>
    <div class="to container">
      <h3>¿Dónde estoy? presiona sobre las <em>Esferalinks</em> para enterarte!</h3>
      <span class="material-icons arrow">play_for_work</span>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#what-is')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
      <div class="section-link"></div>
    </div>
  </section>
  <section id="what-is" class="section-dark">
   <div class="container d-flex justify-content-around"> 
      <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
    </div> 
    <div class="to container">
      <h1>Estás en Storylink.club!, una plataforma desarrollada para <strong>escribir y leer Storylinks!</strong></h1>
      <h3>¿Qué es una Storylink?</h3>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#what-is-sl')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
      <div class="section-link"></div>
    </div>
  </section>
  <section id="what-is-sl" class="section-light">
    <div class="container d-flex justify-content-around"> 
      <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
    </div>
    <div class="to container">
    <h1>Una Storylink es una historia a la que pueden añadirse diferentes desenlaces y tramas.</h1>
    <img class="img-esferas" src="{% static 'imgs/stories_linked.png' %}" alt="Esferas Storylinks">
    <h3>¿Cómo puedo crear una Storylink?</h3>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#how')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
    </div>
    <div class="section-link"></div>
  </section>
  <section id="how" class="section-dark">
      <div class="container d-flex justify-content-around"> 
        <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
      </div>
      <div class="to container">
      <h3>Crear Storylinks es <strong>fácil!</strong>. Puedes comenzar con una historia desde el inicio, o continuar una existente. En el momento que quieras puedes hacer que los personajes tomen <strong>diferentes decisiones ante una misma situación</strong>, dividiendo la trama principal en dos o más caminos. Alimenta tu creatividad!</h3>
      </div>
      <h4>¿Quieres saber más?</h4>
      <h4>SI!</h4>
      <a href="javascript: void(0)" class="a-scroll" onclick="animateScroll('#why')"><img class="tell-more" src="{% static 'imgs/sl_esfera.png' %}" alt="Cuentame mas"></a>
      <div class="section-link"></div>
  </section>
  <section id="why" class="section-light">
    <div class="container d-flex justify-content-around"> 
      <img class="target-link" src="{% static 'imgs/target_link.png' %}" alt="target">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <p class="paragraph-presentation"> En Storylink promovemos el desarrollo de historias de todos los géneros. Puedes crear Storylinks <em>abiertas</em> para permitir que todos los usuarios puedan aportar sus ideas y tramas, o puedes dejarlas <em>cerradas</em> para que solo tú decidas el camino que tomarán los personajes. </p>
        </div>
        <div class="col-md-4">
        <p class="paragraph-presentation">¿Tuviste una idea y no sabes cómo continuarla, o te gustaría compartirla con otros lectores y escritores? ¿Leíste algo que te gustó y tuviste un <em>insigth</em>? <strong>Crea</strong> tu propia trama y <strong>compártelo</strong> con el resto de los usuarios de <strong>Storylink.club</strong> Cada lector pueda elegir la trama que más <strong>disfrute</strong>, o <strong>elegir</strong> cómo termina una historia!</p>
        </div>
        <div class="col-md-4">
        <p class="paragraph-presentation">Explora las Storylinks en nuestro <strong class="hall">Hall</strong></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
        <a class="a-create-acc" href="{% url 'sign_up' %}">Crea una cuenta en Storylink</a>
        <br>o
        <hr>
        <a href="{%url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i>Iniciar Sesión con Facebook</a>
        </div>
      </div> 
    </div>
  </section>
  </div>
</div>
</div>
{% endblock %}

{%block extra-script%}
<script src="{% static 'registration/js/reg.js' %}"></script>
{% endblock %}