{% load widget_tweaks %}
{% comment %}
  Si el formulario esta ligado a una instancia, se abre el modal automaticamente
{% endcomment %}
{% if formLogin.is_bound %}
    <script>
    document.addEventListener('DOMContentLoaded',function() {
    showLoginModal();
    });
    </script>
{% endif %}

<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-login-title">Iniciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="{%url 'social:begin' 'facebook' %}" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i>Iniciar Sesión con Facebook</a>
          <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-twitter btn-lg"><span class="fa fa-twitter"></span>Iniciar Sesión con Twitter</a>
        <hr>
        <div class="has-account">
        <small class="text-muted">Si ya tienes una cuenta </small>
        <form method="post" action="{%url 'custom_login' %}" novalidate class="d-flex">
          {% csrf_token %}

          {% for hidden_field in formLogin.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if formLogin.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in formLogin.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          {% for field in formLogin.visible_fields %}
           <div class="form-group">
              {{ field.label_tag }}                          
              {% if formLogin.is_bound %}
                {% if field.errors %}
                  {% render_field field class="is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field  %}
              {% endif %}

              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
          <button type="submit" class="btn-custom-2">Iniciar sesión</button>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>