{% extends "base.html" %}
{% load static %}
{% block title-page %}Cancelación de suscripción{% endblock %}

{% block main-content %}

    <div class="container">
        <h3>Suscripción cancelada</h3>
        <p>Ya no te enviaremos emails con este contenido.</p>
        <p>En Storylink.club estamos trabajando para que puedas personalizar tus preferencias y elegir qué mails deseas recibir.</p>
        <p>Agradecemos tu paciencia.</p>
        <p>El equipo de Storylink.</p>
    </div>

{% endblock %}
