{% extends "users/profile_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bleach_tags %}

{%block head-page-extra%}
    <script>window.CKEDITOR_BASEPATH = "{% static 'ckeditor/ckeditor/' %}";</script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{%endblock%}

{% block profile-body %}

<div class="" id="container-form-story">
  <div class="row justify-content-center">
    <h4>Escribe una Storylink!</h4>
  </div>


<form id="story_form" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
          {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
  {% endfor %}
  <div class="row justify-content-center">
  <button type="button" id="submitBtnCreate" data-toggle="modal" data-target="#confirm-submit" class="btn-custom-2">Crear Storylink</button>
  </div>
</form>
</div>

<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Creando Storylink
            </div>
            <div class="modal-body">
              <div id="attributes"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="#" id="submit" class="btn btn-success success">Crear</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra-script %}
{% comment %}
  Agregar el SUPER tambien!
{% endcomment %}
  <script src="{% static 'publication/js/edition_story.js' %}"></script>
{% endblock %}