{% extends "users/profile_base.html" %}

{% load static %}
{% block title-page %}{{customuser.first_name}} {{customuser.last_name}}{% endblock %}
{% block head-page-extra %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'publication/css/custom.css' %}">
<!-- Icons star CSS -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


{% block profile-body %}
<div id="title-profile-body" class="justify-content-center">
    <h4> <a href="{% url 'user:user_profile' customuser.username%}">Ver más publicaciones de {{customuser.username}}</a></h4>
</div>

<div class="row">
    <div class="stories-preview col-12">
            {% include "publications/story/card_chapter.html" %}
            {% include "publications/story/card_story.html" %}
    </div>
</div>
{%endblock%}
