SECRET_KEY='6-v$$swa_e8*9i4ga#37#w&c$tr5_&#cjy!d^ymf*i@s2wsct+'

DEBUG=True

DATABASE_URL=psql://nk_user:1234@db:5432/nk_db

SOCIAL_AUTH_FACEBOOK_KEY='***********'
SOCIAL_AUTH_FACEBOOK_SECRET='***************'

SOCIAL_AUTH_TWITTER_KEY='****************'
SOCIAL_AUTH_TWITTER_SECRET='*****************'

EMAIL_HOST='smtp-mail.outlook.com'
EMAIL_HOST_USER='****@hotmail.com'
DEFAULT_FROM_EMAIL='***@hotmail.com'
EMAIL_HOST_PASSWORD='****'
EMAIL_PORT=587


CELERY_BROKER_URL='amqp://rabbit-user:rabbit12345@rabbitmq:5672/stvhost'
