{% extends "users/profile_base.html" %}

{% load static %}
{% block title-page %}{{customuser.first_name}} {{customuser.last_name}}{% endblock %}
{% block head-page-extra %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'publication/css/custom.css' %}">
<!-- Icons star CSS -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block profile-content %}
<div class="row justify-content-center">
    <div class="col-lg-3" id="profile-side-left">
        {% block profile-side-left %}
        <div class="container" id="profile-description">
            {% block profile-description %}
            <ul>
                <li>
                    <img alt="Imagen de perfil" class="img-perfil" src="{{customuser.link_img_perfil.url}}">
                </li> 
                <li>
                    <a href="{% url 'user:user_profile' customuser.username %}">{{customuser.first_name}} {{customuser.last_name}}</a>
                </li>
                <li>
                    {{customuser.description}}
                </li>     
                <li>
                    {{customuser.tags}}
                </li>
                {%if user.username != customuser.username %}      
                <li>
                    {%if is_following%}
                    <a href="{%url 'user:user_unfollow' customuser.username customuser.id %}?next={{request.path}}">Dejar de seguir</a>
                    {%else%}
                    <a href="{%url 'user:user_follow' customuser.username customuser.id %}?next={{request.path}}">Seguir</a>
                    {%endif%}
                </li>
                {%endif%}
            </ul>
            {%endblock%}
        </div>
        {%endblock%}
    </div>
    <div class="col-lg-6" id="container-profile-body">
        <div class="container" id="profile-body">
            {% block profile-body %}
            <div id="title-profile-body" class="justify-content-center">
            <h2>Publicaciones de {{customuser.username}} </h2>
            </div>

            <div class="row">
                <div class="stories-preview col-12">
                    {%if storypublication_list or storychapters_list%}
                        {% include "publications/story/story_list_base.html" %}
                    {%else%}
                      {%if customuser.username != user.username%}
                        <div class="empy-pub"><h5>{{customuser.username}} no ha escrito ninguna Storylink!</h5></div>
                      {%else%}
                        <div class="empy-pub"><h5>No has escrito ninguna Storylink, animate!</h5></div>
                      {%endif%}
                  {%endif%}
                </div>
            </div>
            {%endblock%}
        </div>
    </div>
</div>
{%endblock%}

{%block display-pub-detail%}

{% include "publications/story/story_card.html" %}

{%endblock%}

{%block extra-script%}
<script src="{% static 'publication/js/publication-display.js' %}"></script>
{% endblock %}