#display-pub-detail {
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
    transition: all 1s ease-in-out;
    display: none;
    position: fixed;
    background: #314455F1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-animation: opactiyTransition 0.3s ease-in 1 normal;
    -moz-animation: opactiyTransition 0.3s ease-in 1 normal;
    animation: opactiyTransition 0.3s ease-in 1 normal;
}


@-webkit-keyframes opactiyTransition {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 0.9;
  }
}

#theater-header{
    height: 35px;
    width: 100%;
    position: fixed;
    background: black;
    display: flex;
    font-family: sans-serif, sans-serif, "avenir-medium","Helvetica Neue",Helvetica,Arial;
}

.publication-node {
    -webkit-animation: opactiyTransition 0.3s ease-in 1 normal;
    -moz-animation: opactiyTransition 0.3s ease-in 1 normal;
    animation: opactiyTransition 0.3s ease-in 1 normal;
    padding-top: 40px;
}

#theater-main {
    display: flex;
    overflow-x: scroll;
    background: #eee;
    height: 100%;
    margin:auto;
}

#theater-view-template{
    display: none;
}

.theater-view {
    max-width: 80%;
    width: 80%;
    min-width: 80%;
    margin: auto;
}


.limit-publication {
    border-top: 1px solid #cacaca;
    border-radius: 20px;
    padding: 5px;
    overflow:hidden;
}

.content-card {
    background: white;
    position: static;
}

.publication-header{
    overflow-y: hidden;
}

.menu-pub{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s ease-out;
    width: 25px;
    background: #314455FF;
    height: 25px;
    border-right: 1px solid black;
    color: white;
    margin-left: -30px;
}

.menu-pub .material-icons{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
}

.menu-pub:hover .pub-data-init{
    display: inline-flex;
}

.menu-pub:hover{
    width: auto;
    height: auto;
}

.menu-pub:hover .material-icons{
    display: none;
}

.pub-data-init {
    display: none;
}

.pub-data-init a{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

.img-autor-mini{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border-width: 5px;
    border: 1px solid black;
    padding: 3px;
    background-color: white;
}

.publication-container {
    font-family: "avenir-book","Helvetica Neue",Helvetica,Arial,sans-serif, sans-serif;
    position: inherit;
    color: black;
}

.publication-container a{
    font-family: "avenir-medium","Helvetica Neue",Helvetica,Arial,sans-serif, sans-serif;
}


.body-publication {
    padding-bottom: 10px;
}

.publication-content {
    color: rgb(57, 57, 57);
    font-size: 16px;
    height: 270px;
    overflow-y: scroll;
    word-break: break-all;
}

.publication-description {
    padding-left: 4px;
    padding-right: 4px;
}

.card-body {
    color:rgb(60,60,60);
    padding: 2px;
    position: static;
}

.card-body h5{
    display: inline-flex;
    overflow: hidden;
    width: 70%; 
}

.card-options{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 15px;
}


.tags-story span {
    font-size: 11px;
    color: black;
    padding: 5px;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
}

.tags-story {
    line-height: 20px;
}

.displacement-menu {
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
}


.title-pub-detail {
    color: white;
    display: inline;
    overflow: hidden;
}

#unsubscribe-story {
    margin: auto;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

#unsubscribe-story:hover {
    background: #4d4d4d;
}

#subscribe-story {
    margin: auto;
}

.title-theater-view {
    color: black;
    text-align: center;
}

.scroll-previews-container {
    padding: 5px;
}

.scroll-previews-container .card-story {
  -webkit-overflow-scrolling: touch;
}

.publication-container {
    transition: all 0.5s ease-out;
    border-radius: 25px;
}


.content-previews {
    height: 540px;
    position: static;
}

.content-previews .title-center{
    color: rgb(111,111,111);
}

.create-continuation {
    justify-content: center;
    margin-top: 20px;
}

.create-continuation a{
    display: inline-flex;
}

/*Color de fondo del modal en mode-read*/
.modal-backdrop.show{
    opacity: 1;
}

#title-read-mode {
    text-align: center;
    margin: auto;
    font-family: 'avenir-medium';
}

.modal-header .close {
    margin: 0;
}

.content-read-mode {
    padding: 8px;
    line-height: 24px;
    font-family: 'avenir-book';
    font-size: 18px;
}

.modal-dialog {
    max-width: 100%;
}

.modal-footer {
    justify-content: center;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 2px;
}

.btn-close .material-icons {
    vertical-align: middle;
}

.btn-close {
    color: white;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-close:hover {
    color: white;
    background: #4d4d4d;
}

/*dropwdown menu opciones del modo theater*/
/* Style The Dropdown Button */
.dropbtn {
  color: black;
  padding: 1px;
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.dropbtn .material-icons {
    vertical-align: middle;
}

.dropdown .material-icons {
    font-size: 28px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border: 1px solid black;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: white;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #97a9bd
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block !important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #97a9bd;
}


/*Previsualizacion de chapters*/
.card-story .pub-owner{
    display: inline;
}

.card-story .pub-owner .img-autor-mini{
    margin-top: 0;
}

.chapter-preview .card-story {
    max-height: 200px;
    height: 200px;
    overflow-y: hidden;
}
.chapter-preview .tags-story {
    margin-top: 25px;
}

#display-pub-detail .tags-story{
    height: 26px;
    overflow-y: hidden;
}
#display-pub-detail .tags-story span{
    margin: 1px;
    padding: 2px;
    color: #040404CC;
}


#modal-delete ul{
    list-style: initial;
}

@media (min-width: 992px) {
     .publication-container {
        max-height: 450px;
    }

    .content-previews {
        height: 500px;
        margin-bottom: auto;
        margin-top: auto;
    }

    .content-pub {
    }

/*Previsualizacion de chapters*/
    .scroll-previews-container {
        display: block;
        overflow-y: scroll;
        height: 400px;
    }


    .scroll-previews-container .card-story .img-autor-mini{
        width: 40px;
        height: 40px;
    }

    .scroll-previews-container .card-story .content-story {
        line-height: 24px;
        font-size: 14px;
    }

    .modal-content {
        max-width: 800px;
        margin: auto;
    }

    #theater-body {
    }
}

@media (max-width: 991px) {
    .btn-close {
    }

    .content-pub{
        margin-top: 35px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-previews {
        height: auto;
        padding: 5px;
    }

    .chapter-preview{
        padding: 5px;
        width: 100%;
        overflow-x: auto;
        display: flex;
    }

    .chapter-preview .card-story {
        min-width: 310px;
        width: 310px;
        margin-left: 10px;
    }

    #theater-main {
        display: block;
        overflow-x: hidden;
        padding: 0;
    }

    .theater-view {
        min-width: 100%;
    }

    .publication-node {
        padding: 0;
    }

}